@import url("https://fonts.googleapis.com/css?family=Homemade+Apple|Fredericka+the+Great");
.loader .outer { position:relative; background:transparent;}
.loader .inner {
  background:transparent;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
.accelerated {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
* { -webkit-tap-highlight-color:rgba(0,0,0,0); }

canvas { position:fixed; top:0; left:0; cursor:crosshair; }

#titleArc { font-size: 4em;
	font-family:"Fredericka the Great";
	color: #EEEEDD;
	width: 100%;
}

h1 { font-size: 3em;
     font-weight: normal;
     letter-spacing: .2em;
     font-family:"Fredericka the Great";
     color: #EEEEDD;
     text-shadow: .05em .05em .15em #223322;
 }

h2 { font-size: 2.5em;
     font-weight: normal;
     font-family:"Homemade Apple";
     color: #EEEEDD;
     text-shadow: .05em .05em .15em #223322;
 }
p { font-size: 1em;
    color: #EEEEDD;
    font-family:"Script";
}

@keyframes bloom-in {
   0%  { transform: scale(0); }
  75%  { transform: scale(1.05); }
  87%  { transform: scale(0.95); }
  100% { transform: scale(1); }
 }

button { border:none; 
         padding: 0.5em;
         margin: 0.5em;
         background-color:DarkRed;
         border-radius:0.5em; 
         font-size:2em; 
         color: #EEEEDD; 
         transition: transform 0.2s; 
         animation: 0.7s ease-in 0s 1 bloom-in;
}
button:hover { 
    transform: scale(1.25);
}

button:active {
    background-color: Red;
}

button:focus {
    outline:none;
}

path { fill:transparent;}

.bordered { border:3px solid black; }
.hidden { display:none; }

.menuButton-group{
    text-align:center; 
    width:300px;
    display:block; /* Make the buttons appear below each other */
}

.hudButton {
    border:none;
    padding:0.75em 0.75em;
    margin:0.75em;
    position:absolute;
    display:inline-block;
    background-color:DarkGreen;
    border-radius:0.25em;
    font-size:1em;
    color: #EEEEDD;
}
