body {
  margin-top: 100px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  background: #536976;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292e49, #536976);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292e49, #536976);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#start_button {
  padding: 15px 55px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #292e49;
  background-color: white;
  border: none;
  border-radius: 100px;
  box-shadow: 0 9px #292e49;
  opacity: 0.85;
  display: none;
}

#start_button:hover {
  background-color: grey;
}

#start_button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
