@import url("https://fonts.googleapis.com/css?family=Merriweather Sans");


body {
    font-family: 'Merriweather Sans';
    background: #222;
}

#sidebar {
    background: #222;
    color: #fff;
    position: fixed;
    font-size: 12px;
    width: 200px;
    height: 100%;
    text-align: center;
}

.list-item:hover {
    color: #f1f1f1;
    text-decoration: none;
}

/* ul */
.sidebar-list{  
    text-align: left;
    padding-top: 30px;
    padding-right: 0%;
    padding-left: 20px;
    list-style-type: none;
   
}

.sidebar-component{
    padding-bottom: 10px;
    
}


#content {
    text-align: center;
    margin-left: 250px;
    background: white;
}

p{
    text-align: left;
    padding-left: 4%;
    padding-right: 4%;
    text-indent: 40px;
}